*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

//mixin
@import "mixin";

//variables;
@import "colors";
@import "variables";

// Core CSS

@import "grid";
@import "reboot";

@import "type";
@import "fontsize";

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.