*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import "variables";
@import "grid";
@import "fontsize";

/*mixin*/

@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

.clearfix {
    @include clearfix();
}

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.