html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: .75rem;
}

.siderBar {
    position: absolute;
    background: #f5f5f5;
    width: 220px;
    height: 100%;
    overflow: hidden;
    padding-left: 25px;
}

.siderBar ul,
.siderBar ol {
    padding-left: 30px;
    padding-top: 0;
}

ul li,
ol li {
    line-height: 1.6;
    color: dodgerblue;
}

.bodyer {
    margin-left: 220px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f2f2f2;
}

.spliter {
    background: #888888;
    height: 100%;
    width: 5px;
    cursor: ew-resize;
    opacity: 0;
    top: 0;
    position: absolute;
    z-index: 1000;
    right: -3px;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86, 61, 124, .2);
}

textarea{
    text-align: left;
    width: 91%;
    display: inline-block;
    padding: 8px;
    margin: 0 0 6px;
    font-size: 15px;
    line-height: 24px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-family: 'Droid Sans Mono',sans-serif;
    color: #333;
}

/*24*i+16px+1px padding+border*/
.size1{
  height: 42px;
}
.size2{
  height: 66px;
}
.size3{
  height: 90px;
}
.size4{
  height: 114px;
}
.size5{
  height: 138px;
}
.size6{
  height: 162px;
}
.size7{
  height: 186px;
}
.size8{
  height: 210px;
}
.size9{
  height: 234px;
}

textarea.jade-error {
    color: red;
}

.drag-list li{
    line-height: 1.4;
    padding:10px;
    margin-bottom:5px;
    font-size: 18px;
    border:2px dashed #ccc;
    background-color:#eee;
    cursor:move;
    list-style: none
}

.dustbin {
    line-height: 1.4;
    background-color: gray;
    font-size: 36px;
    font-family: "微软雅黑", "Yahei Mono";
    text-align: center;
    text-shadow: -1px -1px #bbb;
    height: 260px;
}