<!DOCTYPE html>
<html>
head 
    title ES6-practice
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(type="text/css" rel="stylesheet" href="css/index.css")
    link(type="text/css" rel="stylesheet" href="css/main.css")

body
    mixin link(href, name)
        a(href=href)= name
    .siderBar
        div
            h3 component
            span author: hobo
        input(type="text",name='agreement',placeholder="搜索关键词")
        ol(start="0")
            - 
                var components = [{
                        name: '动画',
                        path:"#/demo/animate" 
                    },
                    {
                        name:'工具',
                        path:"#/demo/tools"
                    },
                    {
                        name:'网格系统',
                        path:"#/demo/gridsystem"
                    },
                    {
                        name:'pug模板引擎',
                        path:"#/demo/pug"
                    }]
            for component in components
                li: +link(component.path, component.name)
                //li: a(href=component.path)= #{component.name}
        .spliter
    .bodyer
        section.container
            include ./templates/gridsystem
        section.container
                include ./templates/jade
        section.container
                include ./templates/animate
    script(type='module').
        import Component from './main.js';
        
    script(type='text/javascript',src="index.js",defer,nomodule)
    script(type='text/javascript').
        console.log("测试使用pug语法,module 默认延迟")
